<% layout('./layout/boilerplate') %>

<h2>Doctors List</h2>

<div>
    <% if(user && user.profile=="retailer"){%>
    <a href="/doctors/new" class="btn btn-primary">Add New Doctor</a>
    <% }%>
</div>

<%- include("../partials/card")%>